@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>@ViewBag.CookieModelObj.Id</h2>
    <h2>@ViewBag.CookieModelObj.Indentifier</h2>
    <h2>@ViewBag.CookieModelObj.Date</h2>
</div>

<a class="btn btn-danger" asp-controller="CookiesDemo" asp-action="Index">Index</a>